.song-display-item {
  padding-right: 1rem;
}
.song-display-wrapper {
  margin-bottom: 8pt;
  padding-top: 3pt;
  display: flex;
}
.song-title {
  flex-grow: 2;
}
.fa-play:hover,
.fa-pause:hover {
  cursor: pointer;
}
.song-underline > li:not(:last-child) {
  border-bottom: 1pt solid #ff0000;
}
